article {
    border: 8px, pink solid;
    outline: olivedrab;
    padding: 10px;

}

.container {
    display: flex;
    justify-content: space-evenly;
}

.blogs{
    border: peachpuff 8px groove;
    padding: 40px;
}

.personal {
    padding: 40px;
    border: pink 8px groove;
}

article > p{
    border: 2px whitesmoke solid;
    padding: 10px
    
}