.finished_projects {
    display: flex;
    justify-content: center;
}

img{
    width: 300px;
    height: 200px;
}

h2, h3, figcaption,article{
    text-align: center;
}

h2{
    font-size: 27px;
    background-color: bisque;
    border: 4px pink;
    border-style: groove;
    
}

img:hover{
    border: solid 5px bisque;
}

.articles{
    display: flex;
    justify-content: space-evenly;
}
