body{
    background: url(/images/sherbert_background.png) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.container{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows:0 270px 100px 400px 70px ;
    padding: 20px;
    gap: 8px;
    margin: 0 auto;
    width: 85%;
    font-family: "Shadows Into Light Two";
    background-color: white;
    border-radius: 20px;
}

/*--- NavBar Styling ---*/
nav{
    grid-column: 1/4;
    grid-row: 1/2;
    /* border: black solid 2px; */
    display: flex;
    justify-content: end;
    margin-right: 100px;
   
}

.nav-controls{
   padding: 20px;
   border: solid white 1px;
   border-radius: 80px;
}

.nav-controls:hover{
    text-shadow: rgb(92, 225, 179) 1px 0 20px ;
}


/*--- Header Styling ---*/
header{
    grid-column: 1/4;
    grid-row:2/3;
    display: flex;
    flex-direction:column;
    justify-content: center;
}

h1{
    font-size: 60px;
    font-weight:800px;
    text-align: center;
    color: black;
    text-shadow: rgb(92, 225, 179) 1px 0 10px;
}

/*--- Socials Styling ---*/
.socials {
    grid-column: 1/4;
    grid-row: 3/4;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(212, 255, 235);
    border-radius: 25px;
}

.socials > a {
    font-family: "Poppins", sans-serif;
}

/*--- Contact Form Styling ---*/
.contact-form{
    grid-column: 1/4;
    grid-row: 4/5;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "Poppins", sans-serif;
    padding: 30px;
    background-color:  rgb(254, 225, 249);
    border-radius: 25px;
}


.contact-form > form{
    background-color:whitesmoke;
    border-radius: 10px;
    padding: 25px;
}

/*--- Footer Styling ---*/
footer{
    grid-column: 1/4;
    grid-row: 5/6;
    background-color: rgb(148, 234, 214);
    padding: 20px;
    border-radius: 10px;
}

